form div{
    margin-bottom: 20px;
}
#button{
    margin-left: 10px;
    width:100px;
}
#content{
    margin-top: 10px;
}
body{
    background-color:azure;
}
@media (min-width: 1200px){
    form div{
        float: left;
    }
}
@media (min-width: 768px) and (max-width :1199px){
    form div{
        float: left;
    }
}